@import "~antd/lib/style/themes/default.less";

.inp {
  :global {
    .ant-input-group {
      width: 500px;
    }
  }
}
.formItem{
  :global {
    .ant-input-number{
      display: block;
      width: 500px;
    }
    .ant-input {
      display: block;
      width: 500px;
    }
  }
}
.hide{
  display: none;
}