@import '~antd/lib/style/themes/default.less';

.login {
  text-shadow: 0px -1px 0px #fff;
  color: #7DA6E6;
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: bold;  
  &:hover {
    color: #0C1425;
  }
}
.loginTip{    
  font-size: 12px;
  font-weight: 600;
  color: #4E4579;
}